* {
    font-weight: 700;
    font-size: 32px;
    overflow: hidden;
    font-family: League Spartan, Arial, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.screen-default {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    width: 40vw;
    height: 64px;
    padding-right: 1.3rem;
    background-color: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 100%);
}

.live-calc {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    font-size: 12px;
}


.button-default {
    user-select: none;
    border-radius: 0.2rem;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.calculator-default {
    margin-top: 0.5rem;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    width: 100%;
    grid-gap: 10px;
}

.calc-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

.full-page {
    transition: 0.7s;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
